
@{
    ViewData["Title"] = "Contact";
}

<h1 class="Galleryhead" style="color:antiquewhite">Contact</h1>
<div>
    <h2 class="emailhead" style=" color:antiquewhite">EMAIL</h2>
    <h3 class="linkedinhead" style="color:antiquewhite">Linkedin</h3>
</div>

<button class="linkedin" onclick="location.href='https://www.linkedin.com/in/jonatan-ortiz/'"></button>
<button class="email" onclick="location.href='mailto:Jonatan.a.Ortiz@outlook.com'"></button>

