@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:antiquewhite">Welcome to my Portfolio</h1>
    <h2 class="name" style="color:antiquewhite">Jon Ortiz, Front-End Developer</h2>


</div>
