@{
    ViewData["Title"] = "Privacy Policy";
}
<h1  class="privacyhead" style="color:antiquewhite">@ViewData["Title"]</h1>

<p class="privacy">I don't have any privacy. I signed a agreement. ¯\_(ツ)_/¯</p>
