
@{
    ViewData["Title"] = "Projects";
    <div class="Projects">
        
        <button class="github"  onclick="location.href='https://github.com/JonOrtiz451'" ></button>

    </div>
}

<h1 class="projectshead" style="color:antiquewhite">Projects</h1>
<p  class ="projectdesc" style="color:antiquewhite">CHECK OUT ALL OF MY REPO'S. AND THANKS FOR STOPPING BY!===></p>

